# Load in data 
+ Data comes as a tar file
+ I opted to just load in files into pandas instead of attempting to unwrap that tar file in python
+ We have a file containing all of the edges facebook.csv
+ What we need to do is combine the .feat files with the .featnames files
+ below you can see what each of these files looks like

In [1]:
import pandas as pd

In [2]:



example= pd.read_csv('0.feat',sep=" ",header=None)
print(example.shape)
example.head()

(347, 225)

,0,1,2,3,4,5,6,7,8,9,...,215,216,217,218,219,220,221,222,223,224
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:

example= pd.read_csv('0.featnames',sep=" ",header=None)
print(example.shape)
example.head()

(224, 4)

   0                    1        2  3
0  0  birthday;anonymized  feature  0
1  1  birthday;anonymized  feature  1
2  2  birthday;anonymized  feature  2
3  3  birthday;anonymized  feature  3
4  4  birthday;anonymized  feature  4

# structure of our data

+  Column values in the .feat files(225 columns) are the equivalent index value for our .featnames files(224 rows)
    + The difference of 1 in the shape is due to the 1st column in the .feat file representing our node value and not a feature value
+ First goal is to join the names from .featnames in the feat files


### Build names lists
+ our files are stored as a random int.name
    + I.E  '0.featnames' and '0.feat'
     + Below we use list comprehension to build out file names

In [4]:
names=["0","107","1684","1912","3437",'348',"3980","414","686","698"]
feat_file_names= [x+".feat" for x in names]
featnames_filenames=[x+".featnames" for x in names]

In [5]:
# check names
featnames_filenames

['0.featnames',
 '107.featnames',
 '1684.featnames',
 '1912.featnames',
 '3437.featnames',
 '348.featnames',
 '3980.featnames',
 '414.featnames',
 '686.featnames',
 '698.featnames']

### Load files into pandas

In [6]:
list_feat_names=[]
list_features=[]
for i,x in enumerate(featnames_filenames):
    list_feat_names.append(pd.read_csv(x,sep=" ",header=None))
    list_features.append(pd.read_csv(feat_file_names[i],sep=" ",header=None))

### Check shape matches earlier shape

In [7]:
list_feat_names[0].shape

(224, 4)

In [8]:
list_features[0].shape

(347, 225)

### Practice on one set of each document

In [224]:
df=list_features[0]
df.head()
#df = df.drop(df.columns[[0, 1]], axis=1)
indexes=df.iloc[:,0]
df=df.iloc[:,1:]
df.columns= list_feat_names[0][1]
df["node"]=indexes
df.head()

1,birthday;anonymized,birthday;anonymized,birthday;anonymized,birthday;anonymized,birthday;anonymized,birthday;anonymized,birthday;anonymized,birthday;anonymized,education;classes;id;anonymized,education;classes;id;anonymized,...,work;start_date;anonymized,work;start_date;anonymized,work;start_date;anonymized,work;start_date;anonymized,work;start_date;anonymized,work;start_date;anonymized,work;start_date;anonymized,work;start_date;anonymized,work;with;id;anonymized,node
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
2,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,3
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5

In [78]:
# final_product=[]
# for i,x in enumerate(list_features):
#     df=x
#     indexes=x.iloc[:,0]
#     df=x.iloc[:,1:]
#     df.columns= list_feat_names[i][1]
#     df["nodes"]=indexes
#     final_product.append(df)



final_product2=[]
for i,x in enumerate(list_features):
    df=x
    indexes=x.iloc[:,0]
    df=x.iloc[:,1:]
    df.columns= list_feat_names[i][3].astype(int)
    df.index=indexes
    final_product2.append(df)

In [9]:
final_product2=[]
for i,x in enumerate(list_features):
    df=x
    indexes=x.iloc[:,0]
    df=x.iloc[:,1:]
    df.columns= list_feat_names[i][3].astype(int)
    df.index=indexes
    final_product2.append(df)

In [130]:
index_list=[]
duplicates_index=
for x in final_product2:

    for index in x.index:
        if index==1758:
            index_list.append(index)
    print (index_list)

[]
[]
[]
[1913]
[]
[]
[]
[]
[]
[]

In [295]:
index_list=[]
duplicates_index=[]
total_rows=0
for x in final_product:
    for index in x.index:
        total_rows+=1
        if index not in index_list:
            index_list.append(index)
        else:
            duplicates_index.append(index)


len(duplicates_index)

132

In [141]:
print(total_rows)
len(duplicates_index)

4167-132

## should be 4038 + 3 egos

4167

4035

In [157]:


# total_rows=0
# df_count=0
# for x in final_product2:
#     print("values are in df "+str(df_count))
#     index_list=[]
#     duplicates_index=[]
#     for col in x.columns:
#         if col not in index_list:
#             index_list.append(col)
#         else:
#             duplicates_index.append(col)
#             print(col)
#     df_count+=1
# final_product2[0].columns.str

# [col for col in final_product2[0].columns if col==88]

values are in df 0
88
50
52
129
132
137
138
157
158
160
162
164
165
166
168
169
170
171
values are in df 1
110
84
298
264
554
228
451
230
485
518
247
248
536
52
538
128
129
609
561
281
133
84
176
134
178
615
283
617
618
619
264
157
672
674
675
678
196
679
161
162
164
199
166
200
201
168
169
170
171
681
683
values are in df 2
935
176
1095
617
284
322
538
1144
935
176
617
157
294
158
197
164
166
201
168
170
values are in df 3
894
558
902
134
907
908
442
852
863
52
558
128
612
933
82
281
84
176
134
908
619
157
310
976
160
161
162
723
198
164
199
166
726
680
168
202
169
170
values are in df 4
297
1223
619
52
537
1210
128
129
296
174
176
1220
179
283
619
138
157
723
198
199
values are in df 5
128
84
225
52
128
84
157
values are in df 6
52
157
values are in df 7
128
84
52
84
157
values are in df 8
359
343
359
157
values are in df 9
359
366
366
157

[88, 88]

In [176]:
final_product=[]
for i,x in enumerate(list_features):
    df=x
    indexes=x.iloc[:,0]
    df=x.iloc[:,1:]
    df.columns= list_feat_names[i][1].astype(str)+'_'+list_feat_names[i][3].astype(str)
  #  df["nodes"]=indexes
    df.index=indexes
    final_product.append(df)

In [203]:
my_nodes={}
for node in range(1,4036):
    my_nodes.setdefault(node, [])



for x in final_product:
    n=0
    for node in range(1,4036):
        for index in x.index:
            if index==node:
                my_nodes[node].append(x.loc[node,])

In [181]:
index_list=[]
duplicates_index=[]
total_rows=0
for x in final_product:
    for index in x.index:
        total_rows+=1
        if index not in index_list:
            index_list.append(index)
        else:
            duplicates_index.append(index)


len(duplicates_index)

132

In [188]:
col_list=[]
duplicates_index=[]
total_rows=0
for x in final_product:
    for col in x.columns:
        if col not in col_list:
            col_list.append(col)
        else:
            duplicates_index.append(col)

In [193]:
df = pd.DataFrame(np.nan, index=np.arange(1,4040), columns=col_list)

In [ ]:

new_df=pd.DataFrame(data = [my_nodes[1][0].values] * len(my_nodes[1][0]), columns = my_nodes[1][0].index)
df.merge(new_df, left_index=True, right_index=True)

In [251]:
my_nodes[1][0].index
my_nodes[1][0].values

Index(['birthday;anonymized_0', 'birthday;anonymized_1',
       'birthday;anonymized_2', 'birthday;anonymized_3',
       'birthday;anonymized_4', 'birthday;anonymized_5',
       'birthday;anonymized_6', 'birthday;anonymized_7',
       'education;classes;id;anonymized_8',
       'education;classes;id;anonymized_9',
       ...
       'work;start_date;anonymized_200', 'work;start_date;anonymized_201',
       'work;start_date;anonymized_168', 'work;start_date;anonymized_202',
       'work;start_date;anonymized_169', 'work;start_date;anonymized_170',
       'work;start_date;anonymized_171', 'work;start_date;anonymized_203',
       'work;start_date;anonymized_204', 'work;with;id;anonymized_205'],
      dtype='object', length=224)

# Prove col names are same

In [267]:
my_list=[x for x in my_nodes[1][0].index]
my_list2= [x for x in df.iloc[0,:].index]

for x in my_list:
    if x in my_list2:
        print(x)

# Build blank df of NAN

In [279]:

df = pd.DataFrame(np.nan, index=np.arange(1,4040), columns=col_list)

# still creating appendixed cols

In [278]:
df.merge(my_nodes[1][0].to_frame().T, left_index=True, right_index=True)

,birthday;anonymized_0_x,birthday;anonymized_1_x,birthday;anonymized_2_x,birthday;anonymized_3_x,birthday;anonymized_4_x,birthday;anonymized_5_x,birthday;anonymized_6_x,birthday;anonymized_7_x,education;classes;id;anonymized_8_x,education;classes;id;anonymized_9_x,...,work;start_date;anonymized_200_y,work;start_date;anonymized_201_y,work;start_date;anonymized_168_y,work;start_date;anonymized_202_y,work;start_date;anonymized_169_y,work;start_date;anonymized_170_y,work;start_date;anonymized_171_y,work;start_date;anonymized_203_y,work;start_date;anonymized_204_y,work;with;id;anonymized_205_y
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [275]:
my_nodes[1][0].to_frame().T

,birthday;anonymized_0,birthday;anonymized_1,birthday;anonymized_2,birthday;anonymized_3,birthday;anonymized_4,birthday;anonymized_5,birthday;anonymized_6,birthday;anonymized_7,education;classes;id;anonymized_8,education;classes;id;anonymized_9,...,work;start_date;anonymized_200,work;start_date;anonymized_201,work;start_date;anonymized_168,work;start_date;anonymized_202,work;start_date;anonymized_169,work;start_date;anonymized_170,work;start_date;anonymized_171,work;start_date;anonymized_203,work;start_date;anonymized_204,work;with;id;anonymized_205
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [284]:
new_df= pd.concat([final_product[0],final_product[1],final_product[2],final_product[3],final_product[4],final_product[5],final_product[6],final_product[7],final_product[8],final_product[9]])

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [290]:
df_9=pd.concat([final_product[0],final_product[1],final_product[2]])

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [291]:
df_9

,birthday;anonymized_0,birthday;anonymized_1,birthday;anonymized_1003,birthday;anonymized_1004,birthday;anonymized_1005,birthday;anonymized_1006,birthday;anonymized_2,birthday;anonymized_209,birthday;anonymized_210,birthday;anonymized_3,...,work;start_date;anonymized_721,work;start_date;anonymized_722,work;start_date;anonymized_723,work;start_date;anonymized_724,work;start_date;anonymized_725,work;start_date;anonymized_726,work;with;id;anonymized_205,work;with;id;anonymized_683,work;with;id;anonymized_727,work;with;id;anonymized_728
0,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
2,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
3,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
4,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
5,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
6,0.0,1.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
7,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
8,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
9,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
10,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
11,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
12,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
13,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
14,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
15,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
16,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
17,1.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
18,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
19,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
20,0.0,1.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
21,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
22,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
23,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
24,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
25,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
26,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
27,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
28,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
29,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
30,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3407,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3408,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3409,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3410,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3411,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3412,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3413,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3414,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3415,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3416,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3417,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3418,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3419,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3420,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3421,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3422,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3423,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3424,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3425,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3426,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3427,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3428,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3429,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3430,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3431,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3432,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3433,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3434,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3435,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3436,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [293]:
my_nodes[88]

[birthday;anonymized_0                       0
 birthday;anonymized_1                       0
 birthday;anonymized_2                       0
 birthday;anonymized_3                       0
 birthday;anonymized_4                       0
 birthday;anonymized_5                       0
 birthday;anonymized_6                       0
 birthday;anonymized_7                       0
 education;classes;id;anonymized_8           0
 education;classes;id;anonymized_9           0
 education;classes;id;anonymized_10          0
 education;classes;id;anonymized_11          0
 education;classes;id;anonymized_12          0
 education;concentration;id;anonymized_13    0
 education;concentration;id;anonymized_14    0
 education;concentration;id;anonymized_15    0
 education;concentration;id;anonymized_16    0
 education;concentration;id;anonymized_17    0
 education;concentration;id;anonymized_18    0
 education;concentration;id;anonymized_19    0
 education;degree;id;anonymized_20           0
 education;degree;id;anonymized_21           0
 education;degree;id;anonymized_22           0
 education;degree;id;anonymized_23           0
 education;school;id;anonymized_24           0
 education;school;id;anonymized_25           0
 education;school;id;anonymized_26           0
 education;school;id;anonymized_27           0
 education;school;id;anonymized_28           0
 education;school;id;anonymized_29           0
                                            ..
 work;position;id;anonymized_187             0
 work;position;id;anonymized_188             0
 work;position;id;anonymized_189             0
 work;position;id;anonymized_190             0
 work;position;id;anonymized_191             0
 work;position;id;anonymized_192             0
 work;position;id;anonymized_193             0
 work;start_date;anonymized_157              0
 work;start_date;anonymized_194              0
 work;start_date;anonymized_195              0
 work;start_date;anonymized_158              0
 work;start_date;anonymized_196              0
 work;start_date;anonymized_160              0
 work;start_date;anonymized_197              0
 work;start_date;anonymized_162              0
 work;start_date;anonymized_198              0
 work;start_date;anonymized_164              0
 work;start_date;anonymized_199              0
 work;start_date;anonymized_165              0
 work;start_date;anonymized_166              0
 work;start_date;anonymized_200              0
 work;start_date;anonymized_201              0
 work;start_date;anonymized_168              0
 work;start_date;anonymized_202              0
 work;start_date;anonymized_169              0
 work;start_date;anonymized_170              0
 work;start_date;anonymized_171              0
 work;start_date;anonymized_203              0
 work;start_date;anonymized_204              0
 work;with;id;anonymized_205                 0
 Name: 88, Length: 224, dtype: int64]

In [294]:
duplicates_index

['birthday;anonymized_0',
 'birthday;anonymized_1',
 'birthday;anonymized_2',
 'birthday;anonymized_3',
 'birthday;anonymized_4',
 'birthday;anonymized_5',
 'birthday;anonymized_6',
 'birthday;anonymized_7',
 'education;concentration;id;anonymized_13',
 'education;concentration;id;anonymized_14',
 'education;concentration;id;anonymized_15',
 'education;concentration;id;anonymized_18',
 'education;degree;id;anonymized_21',
 'education;degree;id;anonymized_22',
 'education;degree;id;anonymized_23',
 'education;school;id;anonymized_44',
 'education;school;id;anonymized_52',
 'education;type;anonymized_53',
 'education;type;anonymized_54',
 'education;type;anonymized_55',
 'education;year;id;anonymized_58',
 'education;year;id;anonymized_59',
 'education;year;id;anonymized_60',
 'education;year;id;anonymized_61',
 'education;year;id;anonymized_62',
 'education;year;id;anonymized_63',
 'education;year;id;anonymized_64',
 'education;year;id;anonymized_65',
 'education;year;id;anonymized_66',
 'education;year;id;anonymized_67',
 'education;year;id;anonymized_68',
 'education;year;id;anonymized_69',
 'education;year;id;anonymized_70',
 'education;year;id;anonymized_71',
 'education;year;id;anonymized_72',
 'gender;anonymized_77',
 'gender;anonymized_78',
 'hometown;id;anonymized_82',
 'hometown;id;anonymized_84',
 'languages;id;anonymized_90',
 'languages;id;anonymized_91',
 'languages;id;anonymized_92',
 'languages;id;anonymized_93',
 'languages;id;anonymized_94',
 'languages;id;anonymized_97',
 'languages;id;anonymized_100',
 'languages;id;anonymized_101',
 'last_name;anonymized_106',
 'last_name;anonymized_110',
 'locale;anonymized_126',
 'locale;anonymized_127',
 'location;id;anonymized_128',
 'location;id;anonymized_129',
 'location;id;anonymized_133',
 'location;id;anonymized_134',
 'location;id;anonymized_138',
 'work;employer;id;anonymized_140',
 'work;employer;id;anonymized_145',
 'work;employer;id;anonymized_150',
 'work;employer;id;anonymized_151',
 'work;employer;id;anonymized_52',
 'work;end_date;anonymized_157',
 'work;end_date;anonymized_158',
 'work;end_date;anonymized_160',
 'work;end_date;anonymized_161',
 'work;end_date;anonymized_162',
 'work;end_date;anonymized_164',
 'work;end_date;anonymized_166',
 'work;end_date;anonymized_167',
 'work;end_date;anonymized_168',
 'work;end_date;anonymized_169',
 'work;end_date;anonymized_170',
 'work;end_date;anonymized_171',
 'work;end_date;anonymized_172',
 'work;location;id;anonymized_129',
 'work;location;id;anonymized_176',
 'work;location;id;anonymized_177',
 'work;location;id;anonymized_178',
 'work;location;id;anonymized_179',
 'work;position;id;anonymized_182',
 'work;position;id;anonymized_183',
 'work;position;id;anonymized_184',
 'work;position;id;anonymized_185',
 'work;position;id;anonymized_189',
 'work;position;id;anonymized_192',
 'work;position;id;anonymized_193',
 'work;start_date;anonymized_157',
 'work;start_date;anonymized_194',
 'work;start_date;anonymized_195',
 'work;start_date;anonymized_196',
 'work;start_date;anonymized_197',
 'work;start_date;anonymized_162',
 'work;start_date;anonymized_164',
 'work;start_date;anonymized_199',
 'work;start_date;anonymized_165',
 'work;start_date;anonymized_166',
 'work;start_date;anonymized_200',
 'work;start_date;anonymized_201',
 'work;start_date;anonymized_168',
 'work;start_date;anonymized_202',
 'work;start_date;anonymized_169',
 'work;start_date;anonymized_170',
 'work;start_date;anonymized_171',
 'work;start_date;anonymized_203',
 'birthday;anonymized_210',
 'birthday;anonymized_4',
 'birthday;anonymized_5',
 'birthday;anonymized_6',
 'birthday;anonymized_7',
 'birthday;anonymized_377',
 'birthday;anonymized_378',
 'education;concentration;id;anonymized_13',
 'education;concentration;id;anonymized_385',
 'education;concentration;id;anonymized_14',
 'education;concentration;id;anonymized_388',
 'education;concentration;id;anonymized_392',
 'education;concentration;id;anonymized_215',
 'education;concentration;id;anonymized_394',
 'education;concentration;id;anonymized_395',
 'education;concentration;id;anonymized_398',
 'education;concentration;id;anonymized_399',
 'education;concentration;id;anonymized_400',
 'education;concentration;id;anonymized_16',
 'education;concentration;id;anonymized_217',
 'education;concentration;id;anonymized_18',
 'education;concentration;id;anonymized_402',
 'education;concentration;id;anonymized_412',
 'education;concentration;id;anonymized_425',
 'education;concentration;id;anonymized_428',
 'education;concentration;id;anonymized_429',
 'education;degree;id;anonymized_22',
 'education;school;id;anonymized_225',
 'education;school;id;anonymized_447',
 'education;school;id;anonymized_461',
 'education;school;id;anonymized_475',
 'education;school;id;anonymized_481',
 'education;school;id;anonymized_236',
 'education;school;id;anonymized_504',
 'education;school;id;anonymized_523',
 'education;school;id;anonymized_533',
 'education;school;id;anonymized_52',
 'education;school;id;anonymized_538',
 'education;type;anonymized_53',
 'education;type;anonymized_54',
 'education;type;anonymized_55',
 'education;year;id;anonymized_543',
 'education;year;id;anonymized_58',
 'education;year;id;anonymized_59',
 'education;year;id;anonymized_544',
 'education;year;id;anonymized_60',
 'education;year;id;anonymized_61',
 'education;year;id;anonymized_62',
 'education;year;id;anonymized_63',
 'education;year;id;anonymized_64',
 'education;year;id;anonymized_65',
 'education;year;id;anonymized_66',
 'education;year;id;anonymized_68',
 'education;year;id;anonymized_69',
 'education;year;id;anonymized_70',
 'education;year;id;anonymized_72',
 'first_name;anonymized_545',
 'gender;anonymized_77',
 'gender;anonymized_78',
 'languages;id;anonymized_90',
 'languages;id;anonymized_571',
 'languages;id;anonymized_92',
 'languages;id;anonymized_94',
 'languages;id;anonymized_572',
 'languages;id;anonymized_95',
 'languages;id;anonymized_97',
 'languages;id;anonymized_265',
 'languages;id;anonymized_98',
 'languages;id;anonymized_100',
 'languages;id;anonymized_101',
 'languages;id;anonymized_102',
 'last_name;anonymized_268',
 'last_name;anonymized_581',
 'last_name;anonymized_110',
 'last_name;anonymized_112',
 'locale;anonymized_126',
 'locale;anonymized_127',
 'location;id;anonymized_128',
 'location;id;anonymized_612',
 'location;id;anonymized_281',
 'location;id;anonymized_176',
 'location;id;anonymized_134',
 'location;id;anonymized_617',
 'location;id;anonymized_284',
 'location;id;anonymized_138',
 'work;employer;id;anonymized_140',
 'work;employer;id;anonymized_670',
 'work;employer;id;anonymized_538',
 'work;end_date;anonymized_157',
 'work;end_date;anonymized_676',
 'work;end_date;anonymized_294',
 'work;end_date;anonymized_158',
 'work;end_date;anonymized_162',
 'work;end_date;anonymized_164',
 'work;end_date;anonymized_166',
 'work;end_date;anonymized_201',
 'work;end_date;anonymized_168',
 'work;end_date;anonymized_170',
 'work;location;id;anonymized_133',
 'work;location;id;anonymized_84',
 'work;location;id;anonymized_176',
 'work;location;id;anonymized_617',
 'work;position;id;anonymized_185',
 'work;position;id;anonymized_193',
 'work;start_date;anonymized_157',
 'work;start_date;anonymized_718',
 'work;start_date;anonymized_675',
 'work;start_date;anonymized_307',
 'work;start_date;anonymized_195',
 'work;start_date;anonymized_310',
 'work;start_date;anonymized_158',
 'work;start_date;anonymized_196',
 'work;start_date;anonymized_160',
 'work;start_date;anonymized_197',
 'work;start_date;anonymized_164',
 'work;start_date;anonymized_199',
 'work;start_date;anonymized_166',
 'work;start_date;anonymized_201',
 'work;start_date;anonymized_168',
 'work;start_date;anonymized_202',
 'work;start_date;anonymized_169',
 'work;start_date;anonymized_170',
 'birthday;anonymized_1',
 'birthday;anonymized_2',
 'birthday;anonymized_210',
 'birthday;anonymized_4',
 'birthday;anonymized_5',
 'birthday;anonymized_6',
 'birthday;anonymized_7',
 'birthday;anonymized_377',
 'birthday;anonymized_378',
 'education;classes;id;anonymized_756',
 'education;classes;id;anonymized_11',
 'education;concentration;id;anonymized_13',
 'education;concentration;id;anonymized_213',
 'education;concentration;id;anonymized_386',
 'education;concentration;id;anonymized_14',
 'education;concentration;id;anonymized_762',
 'education;concentration;id;anonymized_15',
 'education;concentration;id;anonymized_338',
 'education;concentration;id;anonymized_392',
 'education;concentration;id;anonymized_215',
 'education;concentration;id;anonymized_394',
 'education;concentration;id;anonymized_216',
 'education;concentration;id;anonymized_398',
 'education;concentration;id;anonymized_400',
 'education;concentration;id;anonymized_16',
 'education;concentration;id;anonymized_217',
 'education;concentration;id;anonymized_18',
 'education;concentration;id;anonymized_402',
 'education;concentration;id;anonymized_416',
 'education;concentration;id;anonymized_423',
 'education;concentration;id;anonymized_427',
 'education;degree;id;anonymized_20',
 'education;degree;id;anonymized_21',
 'education;degree;id;anonymized_22',
 'education;degree;id;anonymized_435',
 'education;degree;id;anonymized_223',
 'education;degree;id;anonymized_437',
 'education;school;id;anonymized_225',
 'education;school;id;anonymized_442',
 'education;school;id;anonymized_444',
 'education;school;id;anonymized_449',
 'education;school;id;anonymized_315',
 'education;school;id;anonymized_455',
 'education;school;id;anonymized_460',
 'education;school;id;anonymized_461',
 'education;school;id;anonymized_469',
 'education;school;id;anonymized_470',
 'education;school;id;anonymized_481',
 'education;school;id;anonymized_236',
 'education;school;id;anonymized_486',
 'education;school;id;anonymized_503',
 'education;school;id;anonymized_504',
 'education;school;id;anonymized_514',
 'education;school;id;anonymized_246',
 'education;school;id;anonymized_50',
 'education;school;id;anonymized_523',
 'education;school;id;anonymized_249',
 'education;school;id;anonymized_533',
 'education;school;id;anonymized_535',
 'education;school;id;anonymized_322',
 'education;school;id;anonymized_52',
 'education;school;id;anonymized_537',
 'education;school;id;anonymized_538',
 'education;type;anonymized_53',
 'education;type;anonymized_54',
 'education;type;anonymized_55',
 'education;year;id;anonymized_543',
 'education;year;id;anonymized_58',
 'education;year;id;anonymized_59',
 'education;year;id;anonymized_544',
 'education;year;id;anonymized_255',
 'education;year;id;anonymized_60',
 'education;year;id;anonymized_61',
 'education;year;id;anonymized_62',
 'education;year;id;anonymized_63',
 'education;year;id;anonymized_64',
 'education;year;id;anonymized_65',
 'education;year;id;anonymized_66',
 'education;year;id;anonymized_67',
 'education;year;id;anonymized_68',
 'education;year;id;anonymized_69',
 'education;year;id;anonymized_71',
 'education;year;id;anonymized_259',
 'education;year;id;anonymized_72',
 'first_name;anonymized_892',
 'first_name;anonymized_900',
 'gender;anonymized_77',
 'gender;anonymized_78',
 'hometown;id;anonymized_558',
 'hometown;id;anonymized_82',
 'hometown;id;anonymized_84',
 'hometown;id;anonymized_86',
 'languages;id;anonymized_90',
 'languages;id;anonymized_91',
 'languages;id;anonymized_92',
 'languages;id;anonymized_93',
 'languages;id;anonymized_913',
 'languages;id;anonymized_94',
 'languages;id;anonymized_572',
 'languages;id;anonymized_265',
 'languages;id;anonymized_101',
 'last_name;anonymized_110',
 'last_name;anonymized_273',
 'last_name;anonymized_595',
 'last_name;anonymized_602',
 'last_name;anonymized_327',
 'last_name;anonymized_123',
 'locale;anonymized_126',
 'locale;anonymized_127',
 'location;id;anonymized_128',
 'location;id;anonymized_129',
 'location;id;anonymized_610',
 'location;id;anonymized_611',
 'location;id;anonymized_612',
 'location;id;anonymized_935',
 'location;id;anonymized_132',
 'location;id;anonymized_281',
 'location;id;anonymized_176',
 'location;id;anonymized_134',
 'location;id;anonymized_940',
 'location;id;anonymized_283',
 'location;id;anonymized_617',
 'location;id;anonymized_284',
 'location;id;anonymized_619',
 'work;employer;id;anonymized_140',
 'work;employer;id;anonymized_151',
 'work;employer;id;anonymized_663',
 'work;employer;id;anonymized_52',
 'work;end_date;anonymized_157',
 'work;end_date;anonymized_676',
 'work;end_date;anonymized_158',
 'work;end_date;anonymized_976',
 'work;end_date;anonymized_160',
 'work;end_date;anonymized_161',
 'work;end_date;anonymized_162',
 'work;end_date;anonymized_198',
 'work;end_date;anonymized_164',
 'work;end_date;anonymized_199',
 'work;end_date;anonymized_166',
 'work;end_date;anonymized_167',
 'work;end_date;anonymized_680',
 'work;end_date;anonymized_168',
 'work;end_date;anonymized_169',
 'work;end_date;anonymized_170',
 'work;end_date;anonymized_171',
 'work;location;id;anonymized_128',
 'work;location;id;anonymized_281',
 'work;location;id;anonymized_133',
 'work;location;id;anonymized_84',
 'work;location;id;anonymized_176',
 'work;location;id;anonymized_134',
 'work;location;id;anonymized_619',
 'work;position;id;anonymized_182',
 'work;position;id;anonymized_691',
 'work;position;id;anonymized_185',
 'work;position;id;anonymized_189',
 'work;position;id;anonymized_699',
 'work;position;id;anonymized_700',
 'work;position;id;anonymized_192',
 'work;position;id;anonymized_193',
 'work;start_date;anonymized_157',
 'work;start_date;anonymized_310',
 'work;start_date;anonymized_196',
 'work;start_date;anonymized_160',
 'work;start_date;anonymized_197',
 'work;start_date;anonymized_161',
 'work;start_date;anonymized_162',
 'work;start_date;anonymized_723',
 'work;start_date;anonymized_198',
 'work;start_date;anonymized_724',
 'work;start_date;anonymized_164',
 'work;start_date;anonymized_199',
 'work;start_date;anonymized_165',
 'work;start_date;anonymized_166',
 'work;start_date;anonymized_200',
 'work;start_date;anonymized_725',
 'work;start_date;anonymized_201',
 'work;start_date;anonymized_332',
 'work;start_date;anonymized_726',
 'work;start_date;anonymized_168',
 'work;start_date;anonymized_202',
 'work;start_date;anonymized_169',
 'work;start_date;anonymized_170',
 'work;start_date;anonymized_681',
 'birthday;anonymized_0',
 'birthday;anonymized_1',
 'birthday;anonymized_209',
 'birthday;anonymized_2',
 'birthday;anonymized_3',
 'birthday;anonymized_6',
 'education;concentration;id;anonymized_13',
 'education;concentration;id;anonymized_384',
 'education;concentration;id;anonymized_386',
 'education;concentration;id;anonymized_14',
 'education;concentration;id;anonymized_1009',
 'education;concentration;id;anonymized_388',
 'education;concentration;id;anonymized_15',
 'education;concentration;id;anonymized_389',
 'education;concentration;id;anonymized_338',
 'education;concentration;id;anonymized_392',
 'education;concentration;id;anonymized_215',
 'education;concentration;id;anonymized_395',
 'education;concentration;id;anonymized_397',
 'education;concentration;id;anonymized_216',
 'education;concentration;id;anonymized_18',
 'education;concentration;id;anonymized_1012',
 'education;degree;id;anonymized_21',
 'education;degree;id;anonymized_22',
 'education;degree;id;anonymized_23',
 'education;degree;id;anonymized_223',
 'education;degree;id;anonymized_224',
 'education;degree;id;anonymized_437',
 'education;school;id;anonymized_225',
 'education;school;id;anonymized_443',
 'education;school;id;anonymized_451',
 'education;school;id;anonymized_315',
 'education;school;id;anonymized_236',
 'education;school;id;anonymized_44',
 'education;school;id;anonymized_861',
 'education;school;id;anonymized_246',
 'education;school;id;anonymized_50',
 'education;school;id;anonymized_535',
 'education;school;id;anonymized_52',
 'education;school;id;anonymized_537',
 'education;school;id;anonymized_538',
 'education;type;anonymized_53',
 'education;type;anonymized_54',
 'education;type;anonymized_55',
 'education;year;id;anonymized_58',
 'education;year;id;anonymized_59',
 'education;year;id;anonymized_254',
 'education;year;id;anonymized_255',
 'education;year;id;anonymized_60',
 'education;year;id;anonymized_61',
 'education;year;id;anonymized_62',
 'education;year;id;anonymized_63',
 'education;year;id;anonymized_64',
 'education;year;id;anonymized_65',
 'education;year;id;anonymized_66',
 'education;year;id;anonymized_67',
 'education;year;id;anonymized_68',
 'education;year;id;anonymized_69',
 'education;year;id;anonymized_257',
 'education;year;id;anonymized_258',
 'education;year;id;anonymized_71',
 'education;year;id;anonymized_259',
 'education;year;id;anonymized_72',
 'first_name;anonymized_545',
 'first_name;anonymized_1065',
 'first_name;anonymized_546',
 'first_name;anonymized_1079',
 'gender;anonymized_77',
 'gender;anonymized_78',
 'hometown;id;anonymized_82',
 'hometown;id;anonymized_86',
 'hometown;id;anonymized_283',
 'hometown;id;anonymized_618',
 'languages;id;anonymized_90',
 'languages;id;anonymized_91',
 'languages;id;anonymized_92',
 'languages;id;anonymized_913',
 'languages;id;anonymized_94',
 'languages;id;anonymized_572',
 'languages;id;anonymized_573',
 'languages;id;anonymized_97',
 'languages;id;anonymized_100',
 'languages;id;anonymized_103',
 'last_name;anonymized_106',
 'last_name;anonymized_578',
 'last_name;anonymized_581',
 'last_name;anonymized_582',
 'last_name;anonymized_1115',
 'last_name;anonymized_593',
 'last_name;anonymized_595',
 'last_name;anonymized_602',
 'last_name;anonymized_1139',
 'locale;anonymized_126',
 'locale;anonymized_127',
 'location;id;anonymized_128',
 'location;id;anonymized_129',
 'location;id;anonymized_174',
 'location;id;anonymized_613',
 'location;id;anonymized_281',
 'location;id;anonymized_176',
 'location;id;anonymized_179',
 'location;id;anonymized_616',
 'location;id;anonymized_619',
 'location;id;anonymized_138',
 'work;employer;id;anonymized_140',
 'work;employer;id;anonymized_1156',
 'work;employer;id;anonymized_150',
 'work;employer;id;anonymized_151',
 'work;employer;id;anonymized_667',
 'work;employer;id;anonymized_52',
 'work;employer;id;anonymized_154',
 'work;end_date;anonymized_157',
 'work;end_date;anonymized_672',
 'work;end_date;anonymized_676',
 'work;end_date;anonymized_976',
 'work;end_date;anonymized_723',
 'work;end_date;anonymized_198',
 'work;end_date;anonymized_199',
 'work;end_date;anonymized_165',
 'work;end_date;anonymized_166',
 'work;end_date;anonymized_200',
 'work;end_date;anonymized_201',
 'work;end_date;anonymized_169',
 'work;location;id;anonymized_128',
 'work;location;id;anonymized_129',
 'work;location;id;anonymized_296',
 'work;location;id;anonymized_174',
 'work;location;id;anonymized_133',
 'work;location;id;anonymized_176',
 'work;location;id;anonymized_177',
 'work;location;id;anonymized_179',
 'work;location;id;anonymized_283',
 'work;location;id;anonymized_619',
 'work;location;id;anonymized_138',
 'work;position;id;anonymized_183',
 'work;position;id;anonymized_691',
 'work;start_date;anonymized_157',
 'work;start_date;anonymized_713',
 'work;start_date;anonymized_194',
 'work;start_date;anonymized_375',
 'work;start_date;anonymized_675',
 'work;start_date;anonymized_310',
 'work;start_date;anonymized_158',
 'work;start_date;anonymized_162',
 'work;start_date;anonymized_723',
 'work;start_date;anonymized_198',
 'work;start_date;anonymized_199',
 'work;start_date;anonymized_725',
 'birthday;anonymized_208',
 'birthday;anonymized_0',
 'birthday;anonymized_1',
 'birthday;anonymized_209',
 'birthday;anonymized_2',
 'birthday;anonymized_3',
 'birthday;anonymized_210',
 'birthday;anonymized_5',
 'education;concentration;id;anonymized_13',
 'education;concentration;id;anonymized_213',
 'education;concentration;id;anonymized_14',
 'education;concentration;id;anonymized_214',
 'education;concentration;id;anonymized_15',

In [296]:
duplicates_index

[58,
 171,
 990,
 58,
 1419,
 107,
 1171,
 171,
 1405,
 1450,
 1656,
 1505,
 1534,
 1642,
 1666,
 1758,
 1726,
 58,
 136,
 1465,
 428,
 1577,
 1718,
 563,
 1085,
 353,
 363,
 366,
 34,
 376,
 389,
 198,
 414,
 420,
 428,
 475,
 483,
 484,
 517,
 526,
 538,
 173,
 563,
 566,
 567,
 580,
 373,
 465,
 378,
 107,
 594,
 596,
 391,
 394,
 400,
 601,
 412,
 606,
 423,
 34,
 427,
 428,
 431,
 348,
 434,
 436,
 363,
 438,
 483,
 514,
 629,
 461,
 553,
 370,
 637,
 475,
 480,
 641,
 496,
 492,
 374,
 649,
 500,
 651,
 506,
 376,
 515,
 524,
 567,
 542,
 544,
 422,
 173,
 395,
 556,
 558,
 559,
 561,
 513,
 563,
 566,
 698,
 810,
 857,
 811,
 860,
 769,
 840,
 862,
 729,
 697,
 708,
 776,
 819,
 703,
 800,
 828,
 830,
 713,
 745,
 747,
 798,
 753,
 823,
 772,
 719,
 774,
 825,
 803,
 804,
 805,
 856]

In [297]:
my_nodes[58]

[birthday;anonymized_0                       0
 birthday;anonymized_1                       0
 birthday;anonymized_2                       0
 birthday;anonymized_3                       0
 birthday;anonymized_4                       0
 birthday;anonymized_5                       0
 birthday;anonymized_6                       0
 birthday;anonymized_7                       0
 education;classes;id;anonymized_8           0
 education;classes;id;anonymized_9           0
 education;classes;id;anonymized_10          0
 education;classes;id;anonymized_11          0
 education;classes;id;anonymized_12          0
 education;concentration;id;anonymized_13    0
 education;concentration;id;anonymized_14    1
 education;concentration;id;anonymized_15    0
 education;concentration;id;anonymized_16    0
 education;concentration;id;anonymized_17    0
 education;concentration;id;anonymized_18    0
 education;concentration;id;anonymized_19    0
 education;degree;id;anonymized_20           0
 education;degree;id;anonymized_21           0
 education;degree;id;anonymized_22           1
 education;degree;id;anonymized_23           0
 education;school;id;anonymized_24           0
 education;school;id;anonymized_25           0
 education;school;id;anonymized_26           0
 education;school;id;anonymized_27           0
 education;school;id;anonymized_28           0
 education;school;id;anonymized_29           0
                                            ..
 work;position;id;anonymized_187             0
 work;position;id;anonymized_188             0
 work;position;id;anonymized_189             0
 work;position;id;anonymized_190             0
 work;position;id;anonymized_191             0
 work;position;id;anonymized_192             0
 work;position;id;anonymized_193             0
 work;start_date;anonymized_157              0
 work;start_date;anonymized_194              0
 work;start_date;anonymized_195              0
 work;start_date;anonymized_158              0
 work;start_date;anonymized_196              0
 work;start_date;anonymized_160              0
 work;start_date;anonymized_197              0
 work;start_date;anonymized_162              0
 work;start_date;anonymized_198              0
 work;start_date;anonymized_164              0
 work;start_date;anonymized_199              0
 work;start_date;anonymized_165              0
 work;start_date;anonymized_166              0
 work;start_date;anonymized_200              0
 work;start_date;anonymized_201              0
 work;start_date;anonymized_168              0
 work;start_date;anonymized_202              0
 work;start_date;anonymized_169              0
 work;start_date;anonymized_170              0
 work;start_date;anonymized_171              0
 work;start_date;anonymized_203              0
 work;start_date;anonymized_204              0
 work;with;id;anonymized_205                 0
 Name: 58, Length: 224, dtype: int64,
 birthday;anonymized_376                      0
 birthday;anonymized_0                        0
 birthday;anonymized_1                        0
 birthday;anonymized_209                      0
 birthday;anonymized_2                        0
 birthday;anonymized_3                        0
 birthday;anonymized_210                      0
 birthday;anonymized_4                        0
 birthday;anonymized_5                        0
 birthday;anonymized_6                        0
 birthday;anonymized_7                        0
 birthday;anonymized_377                      0
 birthday;anonymized_378                      0
 birthday;anonymized_379                      0
 birthday;anonymized_380                      0
 birthday;anonymized_381                      0
 birthday;anonymized_382                      0
 education;concentration;id;anonymized_383    0
 education;concentration;id;anonymized_13     0
 education;concentration;id;anonymized_384    0
 education;concentration;id;anonymized_213    0
 education;concentration;id;anonymized_385    0
 education;concentration;id;anonymized_386    0
 education;concentration;id;anonymized_14     1
 education;concentration;id;anonymized_387    0
 education;concentration;id;anonymized_388    0
 education;concentration;id;anonymized_15     0
 education;concentration;id;anonymized_389    0
 education;concentration;id;anonymized_390    0
 education;concentration;id;anonymized_391    0
                                             ..
 work;start_date;anonymized_721               0
 work;start_date;anonymized_195               0
 work;start_date;anonymized_310               0
 work;start_date;anonymized_722               0
 work;start_date;anonymized_196               0
 work;start_date;anonymized_679               0
 work;start_date;anonymized_197               0
 work;start_date;anonymized_161               0
 work;start_date;anonymized_162               0
 work;start_date;anonymized_723               0
 work;start_date;anonymized_724               0
 work;start_date;anonymized_164               0
 work;start_date;anonymized_199               0
 work;start_date;anonymized_165               0
 work;start_date;anonymized_166               0
 work;start_date;anonymized_200               0
 work;start_date;anonymized_725               0
 work;start_date;anonymized_201               0
 work;start_date;anonymized_332               0
 work;start_date;anonymized_726               0
 work;start_date;anonymized_168               0
 work;start_date;anonymized_202               0
 work;start_date;anonymized_169               0
 work;start_date;anonymized_170               0
 work;start_date;anonymized_171               0
 work;start_date;anonymized_681               0
 work;start_date;anonymized_203               0
 work;with;id;anonymized_727                  0
 work;with;id;anonymized_728                  0
 work;with;id;anonymized_683                  0
 Name: 58, Length: 576, dtype: int64,
 birthday;anonymized_1003                      0
 birthday;anonymized_1004                      0
 birthday;anonymized_210                       0
 birthday;anonymized_4                         0
 birthday;anonymized_5                         0
 birthday;anonymized_6                         0
 birthday;anonymized_7                         0
 birthday;anonymized_377                       0
 birthday;anonymized_378                       0
 birthday;anonymized_1005                      0
 birthday;anonymized_1006                      0
 education;classes;id;anonymized_756           0
 education;concentration;id;anonymized_1007    0
 education;concentration;id;anonymized_13      0
 education;concentration;id;anonymized_385     0
 education;concentration;id;anonymized_14      1
 education;concentration;id;anonymized_762     0
 education;concentration;id;anonymized_1008    0
 education;concentration;id;anonymized_1009    0
 education;concentration;id;anonymized_388     0
 education;concentration;id;anonymized_392     0
 education;concentration;id;anonymized_215     0
 education;concentration;id;anonymized_394     0
 education;concentration;id;anonymized_395     0
 education;concentration;id;anonymized_1010    0
 education;concentration;id;anonymized_398     0
 education;concentration;id;anonymized_399     0
 education;concentration;id;anonymized_400     0
 education;concentration;id;anonymized_1011    0
 education;concentration;id;anonymized_16      0
                                              ..
 work;location;id;anonymized_176               0
 work;location;id;anonymized_1165              0
 work;location;id;anonymized_617               0
 work;position;id;anonymized_185               0
 work;position;id;anonymized_1166              0
 work;position;id;anonymized_1167              0
 work;position;id;anonymized_1168              0
 work;position;id;anonymized_1169              0
 work;position;id;anonymized_193               0
 work;start_date;anonymized_157                0
 work;start_date;anonymized_718                0
 work;start_date;anonymized_1170               0
 work;start_date;anonymized_675                0
 work;start_date;anonymized_307                0
 work;start_date;anonymized_294                0
 work;start_date;anonymized_195                0
 work;start_date;anonymized_310                0
 work;start_date;anonymized_158                0
 work;start_date;anonymized_1171               0
 work;start_date;anonymized_196                0
 work;start_date;anonymized_160                0
 work;start_date;anonymized_197                0
 work;start_date;anonymized_164                0
 work;start_date;anonymized_199                0
 work;start_date;anonymized_166                0
 work;start_date;anonymized_201                0
 work;start_date;anonymized_168                0
 work;start_date;anonymized_202                0
 work;start_date;anonymized_169                0
 work;start_date;anonymized_170                0
 Name: 58, Length: 319, dtype: int64,
 birthday;anonymized_729                0
 birthday;anonymized_730                0
 birthday;anonymized_731                0
 birthday;anonymized_732                0
 birthday;anonymized_1                  0
 birthday;anonymized_2                  0
 birthday;anonymized_210                0
 birthday;anonymized_4                  0
 birthday;anonymized_5                  0
 birthday;anonymized_6                  0
 birthday;anonymized_7                  0
 birthday;anonymized_377                0
 birthday;anonymized_378                0
 birthday;anonymized_733                0
 birthday;anonymized_734                0
 birthday;anonymized_735                0
 birthday;anonymized_736                0
 birthday;anonymized_737                0
 birthday;anonymized_738                0
 birthday;anonymized_739                0
 birthday;anonymized_740                0
 birthday;anonymized_741                0
 education;classes;id;anonymized_742    0
 education;classes;id;anonymized_743    0
 education;classes;id;anonymized_744    0
 education;classes;id;anonymized_745    0
 education;classes;id;anonymized_746    0
 education;classes;id;anonymized_747    0
 education;classes;id;anonymized_748    0
 education;classes;id;anonymized_749    0
                                       ..
 work;projects;id;anonymized_999        0
 work;start_date;anonymized_157         0
 work;start_date;anonymized_310         0
 work;start_date;anonymized_976         0
 work;start_date;anonymized_196         0
 work;start_date;anonymized_1000        0
 work;start_date;anonymized_160         0
 work;start_date;anonymized_197         0
 work;start_date;anonymized_161         0
 work;start_date;anonymized_162         0
 work;start_date;anonymized_723         0
 work;start_date;anonymized_1001        0
 work;start_date;anonymized_198         0
 work;start_date;anonymized_724         0
 work;start_date;anonymized_1002        0
 work;start_date;anonymized_164         0
 work;start_date;anonymized_199         0
 work;start_date;anonymized_165         0
 work;start_date;anonymized_166         0
 work;start_date;anonymized_200         0
 work;start_date;anonymized_725         0
 work;start_date;anonymized_201         0
 work;start_date;anonymized_332         0
 work;start_date;anonymized_726         0
 work;start_date;anonymized_680         0
 work;start_date;anonymized_168         0
 work;start_date;anonymized_202         0
 work;start_date;anonymized_169         0
 work;start_date;anonymized_170         0
 work;start_date;anonymized_681         0
 Name: 58, Length: 480, dtype: int64]

In [299]:
for x in final_product:
    print(x.shape)

(347, 224)
(1045, 576)
(792, 319)
(755, 480)
(547, 262)
(227, 161)
(59, 42)
(159, 105)
(170, 63)
(66, 48)